.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}

.products {
  width: 100%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: start;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: fit-content;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.image {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  transition: 0.3s;
  margin: 50px auto;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}

.content {
  text-align: center;
}

.description {
  font-style: italic;
  font-size: 0.8em;
  margin: 15px auto;
  text-align: left;
}

.price {
  font-weight: bold;
  font-size: 2em;
}

.category {
  background-color: darkblue;
  color: white;
  border-radius: 100px;
  width: fit-content;
  padding: 2px 10px;
}

.image:hover {
  transform: scale(1.2);
  position: relative;
}

.product:hover {
  transition: 0.3s ease-in;
}

.title:hover,
.image:hover {
  cursor: pointer;
}

.addToCartBtn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  transition: 0.3s;
}

.addToCartBtn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}